
*{
    margin: 0; 
}

.color{
    background-color:  #12d4d4c2;
}

.contenedor{
    text-align: center;
    height: 100%;
}
 h2{
    padding-top: 70px;
 }
 
p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
    background: rgb(160, 152, 157);
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 80px;
    box-shadow: 5px 5px 12px 1px rgb(5, 3, 107);
}

#noBtn{
    position: absolute;
    background: rgb(160, 152, 157);
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 80px;
    box-shadow: 5px 5px 12px 1px rgb(5, 3, 107);
    z-index: 20;
}

#tex{
    width: 900px;
    height: 100px;
    position: relative;
    margin: -170px 0px 0px 250px;
    display: inline-block;
}

